:root {
  --orange: orange;
  --green: green;
  --blue: #008799;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.wrapper > section:not(.hidden) {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--orange);
  width: 100px;
  height: 100px;
  --timing-function: cubic-bezier(0.57, 0.01, 0.37, 0.98);
  animation: move 2s var(--timing-function) 0s 1 alternate forwards paused;
  transition: all 0.5s ease;
  cursor: pointer;
  /* 
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: paused; 
  */
}

.block.end {
  animation: none;
}

@keyframes move {
  0%, 100% {
    background-color: var(--orange);
    border-radius: 0;
    transform: translateY(0) rotate(0deg) scale(1);
  }
  50% {
    background-color: var(--green);
    border-radius: 50%;
    transform: translateY(-100px) rotate(90deg) scale(0.5);
  }
}

.disk {
  width: 100px;
  height: 100px;
  background: linear-gradient(var(--blue), #fff);
  border-radius: 50%;
  animation: spin 1000ms linear 0s infinite forwards paused;
}

.disk.end {
  animation: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.display {
  margin: 20px 0;
  padding: 10px;
}

input {
  margin: 10px 0;
  padding: 5px;
}

.hidden {
  display: none;
}